.input:focus{
  outline: none!important;
  border: none!important;
}
.options{
  padding:13px 50px;
  background-color: gray;
  width: 100%;
}
.textField{
  padding:13px 50px;
  width: 100%;
}
.searchWrapper{
  background-color: rgba(0, 0, 0, 0.349);
}
.circle{
  padding: 15px 18px;
  border-radius: 50%;
}
.img-rounded{
  border-radius: 20px;
}
.leftBorder{
  position: relative;
}
.leftBorder::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: -20px;
  background-color: #FFDD19;
}
